*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  align-items: center;
  justify-content: flex-end;
}
.item {
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  padding: .8rem;
  display: flex;
  color: dimgrey;
}
.nav{
  outline: none;
  text-decoration: none;
  color: dimgrey;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  
}
.input{
  
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
#input-in{
  height: 50px;
  width: 600px;
  border-radius: 30px;
  font-size: large;
}
.container-2 {
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
}
.item2{
  font-family: Arial, Helvetica, sans-serif;
  height: 35px;
  width: 200px;
  padding: 8px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(231, 240, 245);
}
.enlace{
  outline: none;
  text-decoration: none;
  color: dimgrey;
}
.enlace:hover{
  background-color: rgb(188, 222, 233);
  transition: background-color .5s;
}